<Proxy balancer://{{cluster}}>

    # Server 1
    BalancerMember http://{{ nodo1 }}:{{ puerto1 }}/

    # Server 2
    BalancerMember http://{{ nodo2 }}:{{ puerto2 }}/
</Proxy>

<VirtualHost *:80>
  ProxyPreserveHost On
  Proxy Pass /balancer-manager !
  ProxyPass / balancer://{{cluster}}/
  ProxyPassReverse / http://{{cluster}}/

  <Location "/balancer-manager">
      SetHandler balancer-manager
      Require ip {{ red_autorizada }}
  </Location>

  ServerName {{ server }}
  ServerAdmin {{ hostmaster }}
  DocumentRoot /var/www/{{ sitio }}/html
  CustomLog /var/log/httpd/{{ sitio }}_access.log combined
  ErrorLog /var/log/httpd/{{ sitio }}_error.log
  <Directory /var/www/{{ sitio }}/html>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
</VirtualHost>
